# Build
/target/

# IDE - Eclipse
.classpath
.factorypath
.project
.settings/

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VS Code
.vscode/

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/nb-configuration.xml

# OS
.DS_Store
Thumbs.db

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Logs
*.log

#claude
.claude
